*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
    color: white;
    box-sizing: border-box;
}


.m-header{
    width: 100%;
    height: 15vh;
    background: #0169FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-center{
    width: 100%;
    /* background: red; */
    margin: 20px 0;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.m-footer{
    width: 100%;
    min-height: 15vh;
    background: #0169FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 25%;
    min-height: 65vh;
    background: #67A4FF;
    padding: 15px;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.center{
    width: 50%;
    min-height: 65vh;
    background:#A5A6AB;
    margin: 0px 10px;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.right{
    width: 25%;
    min-height: 65vh;
    background: #67A4FF;
    padding: 20px;
    display: flex;   
    justify-content: center;
    align-items: center;
}





@media only screen and (max-width: 600px) {
    
    .m-center {
        flex-wrap: wrap;
    }
    .left {
        min-height: 20vh;
        width: 100%;
    }
    .center {
        min-height: 20vh;
        margin: 20px 0;
        width: 100%;
    }
    .right {
        width: 100%;
        min-height: 20vh;
    }
}
 
@media only screen and (min-width: 768px) {
    
    .left, .center, .right{
        width: 33%;
    }
}

