*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
    color: white;
    box-sizing: border-box;
}


.m-header{
    width: 100%;
    height: 15vh;
    background: #0169FF;
    padding: 20px;
}

.m-center{
    width: 100%;
    /* background: red; */
    margin: 20px 0;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.m-footer{
    width: 100%;
    min-height: 15vh;
    background: #0169FF;
    padding: 20px;
}

.left{
    width: 25%;
    min-height: 65vh;
    background: #67A4FF;
    padding: 20px;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.center{
    width: 50%;
    min-height: 65vh;
    background:#A5A6AB;
    margin: 0px 10px;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.right{
    width: 25%;
    min-height: 65vh;
    background: #67A4FF;
    padding: 20px;
    display: flex;   
    justify-content: center;
    align-items: center;
}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
